/* Style sheet created by: Tavish S Beals, 07/19/2018 */

/* Style for body specifies a background color */
body {
	Background-color: #5f56d3;

	background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}

/* Style to create a fluid image */
img {
		max-width: 100%;
		
}

/* Styles for Mobile Layout */

/* style for container centers the page and sets the element width */
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center-aligns content */
header {
	margin-top: 0.2em;
	background-color: #040D16;
	border-radius: 0.5em;
	text-align: center;
	
}

/* Style for the nav specifies text properties */
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}
	
	/* Style specifies padding and margins for unordered list */
	nav ul {
		padding: 0;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
}
	
	/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
	nav li {
		background-color: #58c4e8;
		border-radius: 2em;
		list-style-type: none;
		margin: 0.3em;
		padding: 0.4em;
}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
}


/* Style displays the mobile class */
.mobile {
		display: inline;
}

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Style for the main element specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 1em;
	background-color: #FFFFFF;
	border-top: solid 0.2em #207e99;
	border-bottom: solid 0.2em #207e99;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}

/* Style hides the tablet class */
.tablet {
	display: none;
}

/* Style rule specifies to not display the equip class */
.equip {
	display: none;
}



